<div fxLayout="column">
        <div class="row" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                                        <h4>Add Gallery</h4>
                        </div>
                        <div fxFlex="45">
                                <a [routerLink]="['/gallery']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                    </span></p></a> 
                        </div>
        </div>
</div>
<div>
        <form class="event-form" fxFlex  [formGroup]="galleryForm"  (ngSubmit)="onGalleryPost()" >
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <input matInput placeholder="Enter gallery event name" formControlName="galleryname" [(ngModel)]="galleryname" required>
                      </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                        <div fxFlex="30" class="sec1" fxFlex.xs="35">
                        </div>
                        <div fxFlex="40" class="sec2">

                                                         <mat-label>Images</mat-label>
                                                                <br>
                                                                <br>
                                                        <input type="file" #UploadFileInput id="fileUpload" style="margin-bottom:20px;" (change)="fileChangeEvent($event)" name="fileUpload"
                                                          multiple="multiple" accept="image/*" />
                                                  
                        </div>
                        <div fxFlex="30" class="sec3" fxFlex.xs="35">
                                        <!-- <mat-card class="example-card "style="margin-bottom:20px;" >
                                                        <mat-card-content>
                                                          <img [src] ="ImagePath" 
                                                                style="width: 285px;height: 140px;">
                                                        </mat-card-content>
                                        </mat-card> -->
                        </div>
                </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" style="padding-bottom:30px;" fxFlexFill fxLayoutAlign="space-around center">
                        <div fxFlex="30" class="sec1" fxFlex.xs="35">
                        </div>
                        <div fxFlex="40" class="sec2">
                                <button mat-raised-button color="primary" class="w-100" [disabled]="!galleryForm.valid" >Add Gallery</button>
                        </div>
                        <div fxFlex="30" class="sec3" fxFlex.xs="35">
                        </div>
           </div>
        </form>
   </div>
