
  <div>
    <div fxLayout="column">
        <div class="row" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                                        <h4>Gallery List</h4>
                        </div>
                        <div fxFlex="45">
                            <p style="text-align:end">
                              <button mat-raised-button color="primary"(click)="addgallery()" >Add New</button>
                            </p>
                        </div>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
      <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Sl. No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Event Name </th>
        <td mat-cell *matCellDef="let element"> {{element.galleryeventname}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="imageurl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image Url </th>
        <td mat-cell *matCellDef="let element"> {{element.imageurl}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editgallery(element.id)">
                <mat-icon class="mat-18">mode_edit</mat-icon>
            </button>
            <button mat-icon-button  (click)="deletegallery(element.id)">
                <mat-icon class="mat-18" style="color:red">delete</mat-icon>
            </button>
          <button mat-icon-button color="primary" (click)="viewgallery(element.id)">
              <mat-icon class="mat-18">preview</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>