<div fxLayout="column">
                <div class="row" fxLayoutAlign="space-between center">
                                <div fxFlex="45">
                                                <h4>Edit Gallery</h4>
                                </div>
                                <div fxFlex="45">
                                        <a [routerLink]="['/gallery']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                            </span></p></a> 
                                </div>
                </div>
        </div>
        <div>
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                            <div fxFlex="30" class="sec1" fxFlex.xs="35">
                            </div>
                            <div fxFlex="40" class="sec2">
                                    <p>{{updateJson.galleryname}}</p>
                            </div>
                            <div fxFlex="30" class="sec3" fxFlex.xs="35">
                            </div>
                    </div>
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" *ngFor="let images of updateJson.imageUrl ; let i = index">
                                <div fxFlex="50" class="sec1" fxFlex.xs="35">
                                                <mat-card class="example-card "style="margin-bottom:20px;" >
                                                                <mat-card-content>
                                                                  <img [src] ="images" 
                                                                        style="width: 100%;height: 100%;">
                                                                </mat-card-content>
                                                </mat-card>
                                </div>
                                
                        </div>
           </div>
        