<div fxLayout="column">
                <div class="row" fxLayoutAlign="space-between center">
                                <div fxFlex="45">
                                                <h4>{{formName}} Fund</h4>
                                </div>
                                <div fxFlex="45">
                                        <a [routerLink]="['/expense']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                            </span></p></a> 
                                </div>
                </div>
        </div>
        <div>
                <form class="event-form" fxFlex  [formGroup]="expenseForm"  (ngSubmit)="onExpensePost()" >
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                            <div fxFlex="30" class="sec1" fxFlex.xs="35">
                            </div>
                            <div fxFlex="40" class="sec2">
                              <mat-form-field class="w-100">
                                        <input matInput placeholder="Enter Income Expense Title" formControlName="expenseincome" [(ngModel)]="updateJson.fundTitle" required>
                                    </mat-form-field>
                            </div>
                            <div fxFlex="30" class="sec3" fxFlex.xs="35">
                            </div>
                    </div>
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                            <div fxFlex="30" class="sec1" fxFlex.xs="35">
                            </div>
                            <div fxFlex="40" class="sec2">
                              <mat-form-field class="w-100">
                                        <textarea matInput placeholder="Income Expense Description" formControlName="description"[(ngModel)]="updateJson.exprenseDescription" required></textarea>
                             </mat-form-field>
                            </div>
                            <div fxFlex="30" class="sec3" fxFlex.xs="35">
                            </div>
                    </div>
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                                <div fxFlex="30" class="sec1" fxFlex.xs="35">
                                </div>
                                <div fxFlex="40" class="sec2">
                                  <mat-form-field class="w-100">
                                                <input matInput type="date" placeholder="Date" formControlName="expensedate" [(ngModel)]="updateJson.date" required>
                                 </mat-form-field>
                                </div>
                                <div fxFlex="30" class="sec3" fxFlex.xs="35">
                                </div>
                        </div>
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" >
                            <div fxFlex="30" class="sec1" fxFlex.xs="35">
                            </div>
                            <div fxFlex="40" class="sec2">
                                        <mat-form-field class="w-100">
                                                        <mat-label>Credit/Debit</mat-label>
                                                        <mat-select formControlName="type" [(ngModel)]="updateJson.creditdebit"   required>
                                                          <mat-option [value]="type.name" *ngFor="let type of paymentType">
                                                                {{type.name}}
                                                          </mat-option>
                                                        </mat-select>
                                        </mat-form-field>
                            </div>
                            <div fxFlex="30" class="sec3" fxFlex.xs="35">
                            </div>
                    </div>
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                            <div fxFlex="30" class="sec1" fxFlex.xs="35">
                            </div>
                            <div fxFlex="40" class="sec2">
                              <mat-form-field class="w-100">
                                        <input matInput placeholder="Enter Amount" formControlName="amount"[(ngModel)]="updateJson.amount" >
                              </mat-form-field>
                            </div>
                            <div fxFlex="30" class="sec3" fxFlex.xs="35">
                            </div>
                    </div>
                    <div class="content" fxLayout="row" fxLayout.xs="column" style="padding-bottom:30px;" fxFlexFill fxLayoutAlign="space-around center">
                                <div fxFlex="30" class="sec1" fxFlex.xs="35">
                                </div>
                                <div fxFlex="40" class="sec2">
                                        <button mat-raised-button color="primary" class="w-100" [disabled]="!expenseForm.valid" >{{buttonName}}</button>
                                </div>
                                <div fxFlex="30" class="sec3" fxFlex.xs="35">
                                </div>
                   </div>
                </form>
           </div>
        