<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex class="divstyle">
        <p class="pstyle">User Settings</p>
        </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                <div fxFlex>
                        <a (click)="redirecttopage('help')">
                    <app-stat  [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'Query to Admin !'"></app-stat>
                        </a>
                </div>
                <div fxFlex>
                                <a (click)="redirecttopage('job')">
                    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'Opening Job !'"></app-stat>
                    </a>
                </div>
                <div fxFlex>
                                <a (click)="redirecttopage('image')">
                    <app-stat [bgClass]="'success'" [icon]="'dashboard'" [count]="1" [label]="'Upload Image !'"></app-stat>
                                </a>
                </div>
                <div fxFlex>
                        <a (click)="redirecttopage('notification')">
            <app-stat [bgClass]="'danger'" [icon]="'view_list'" [count]="1" [label]="'Notifications !'"></app-stat>
                        </a>
        </div>
</div>