<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex  [formGroup]="loginForm"  (ngSubmit)="onLogin()">
            <div class="text-center">
                <h2 class="app-name">UMAA Login</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" formControlName="email" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100"  [disabled]="!loginForm.valid">Login</button>
                </div>
            </div>
            <div fxFlex  fxLayoutAlign="center" style="margin-top:20px;">
                    <a href="/signup" style="color:#1231dd">sign up</a>
            </div>

        </form>
    </div>
</div>