<!-- for alumni -->
<ng-container *ngIf="userType == 'alumni'">
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                <div fxFlex>
                    <!-- <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'Alumni Count!'"></app-stat>
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'success'" [icon]="'dashboard'" [count]="124" [label]="'Request Count!'"></app-stat>
                </div>
                <div fxFlex>
                    <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
                </div>
            </div>
            <div fxFlex class="divstyle">
            <p class="pstyle">Recent Added</p>
            </div>
            <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div fxFlex>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phonenumber">
                            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" (click)="viewDetails(element.id)">
                                                <mat-icon class="sidenav-icon">preview</mat-icon>
                                            </button>
                                </td>
                            </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
</ng-container>

<!-- for admin -->
<ng-container *ngIf="userType == 'admin'">
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                <div fxFlex>
                    <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'Pending Alumni !'"></app-stat>
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'Alumni Count !'"></app-stat>
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'success'" [icon]="'dashboard'" [count]="124" [label]="'Total Request !'"></app-stat>
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'info'" [icon]="'view_list'" [count]="13" [label]="'Available Fund !'"></app-stat>
                </div>
            </div>
            <!-- <div fxFlex class="divstyle">
            <p class="pstyle">Country wise alumni</p>
            </div> -->
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                <div fxFlex="20" fxFlex.xs="35">
                </div>
                <div fxFlex="60" >
                    <google-chart [type]="myType" id="charts" #chart [data]="myData" [options]="options" [width]="width"
                    [height]="height"></google-chart>
                </div>
                <div fxFlex="20"  fxFlex.xs="35">
                </div>
        </div>

</ng-container>

<!-- for student -->
<ng-container *ngIf="userType == 'student'">
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                <div fxFlex>
                    <!-- <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'Alumni Count!'"></app-stat>
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'success'" [icon]="'dashboard'" [count]="124" [label]="'Request Count!'"></app-stat>
                </div>
                <div fxFlex>
                    <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
                </div>
            </div>
            <div fxFlex class="divstyle">
            <p class="pstyle">Recent Added</p>
            </div>
            <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div fxFlex>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phonenumber">
                            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" (click)="viewDetails(element.id)">
                                                <mat-icon class="sidenav-icon">preview</mat-icon>
                                            </button>
                                </td>
                            </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
</ng-container>

<!-- for college -->
<ng-container *ngIf="userType == 'college'">
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                <div fxFlex>
                    <!-- <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'Alumni Count!'"></app-stat>
                </div>
                <div fxFlex>
                    <app-stat [bgClass]="'success'" [icon]="'dashboard'" [count]="124" [label]="'Request Count!'"></app-stat>
                </div>
                <div fxFlex>
                    <!-- <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
                </div>
            </div>
            <!-- <div fxFlex class="divstyle">
            <p class="pstyle">Recent Added</p>
            </div>
            <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div fxFlex>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="phonenumber">
                            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" (click)="viewDetails(element.id)">
                                                <mat-icon class="sidenav-icon">preview</mat-icon>
                                            </button>
                                </td>
                            </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div> -->
</ng-container>

<!-- <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex *ngFor="let item of places">
        <mat-card>
            <img mat-card-image [src]="item.imgSrc">
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h3 class="m-0">{{item.place}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{item.description}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>{{item.charge}}</button>
                <button mat-button>
                    <mat-icon class="nav-icon">location_on</mat-icon> {{item.location}}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div> -->
