table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
h4 {
    font-weight: bold;
    font-size: 20px;
    color: #2948f5;
}
.labelTextColor{
    padding-left: 25px;
    font-weight: bold;
    color: #3f51b5;
}
.basicStyle{
    background-color: #e7ecf1;
    border: 1px solid #4612e7;
    border-radius: 20px;
    padding-bottom: 30px;
}
.workStyle{
    background-color: #a4c2e1;
    border: 1px solid #f7e611;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.pending{
    color: #32408f;
    border: 2px solid red;
    border-radius: 7px;
    padding: 3px;
    font-weight: bold;
}
.approve{
    color: #38d24b;
    border: 2px solid green;
    border-radius: 7px;
    padding: 3px;
    font-weight: bold;

}
.reject {
    color: red;
    border: 2px solid #10ff00;
    border-radius: 7px;
    padding: 3px;
    font-weight: bold;
}