
  <div>
    <h4>{{formHeader}}</h4>
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
      <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > No </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gmail </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <ng-container matColumnDef="phonenumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PhoneNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
      </ng-container>

      <ng-container matColumnDef="batch">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch </th>
        <td mat-cell *matCellDef="let element"> {{element.yearofpassing}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> <span [ngClass]="{'pending': element.status == 'pending',
          'approve': element.status == 'approved',
          'reject': element.status == 'reject'}" >{{element.status}} </span> </td>
      </ng-container>
    
      <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
              <mat-icon class="mat-18">preview</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>