    <div style="height:700px">
        <div fxLayout="column">
                <div class="row" fxLayoutAlign="space-between center">
                                <div fxFlex="45">
                                                <h4>View Details</h4>
                                </div>
                                <div fxFlex="45">
                                               <a routerLink="{{backUrl}}" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                                </span></p></a> 
                                </div>
                </div>
        </div>
    <div fxLayout="column" class="basicStyle">
            <h4>Basic Details</h4>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="45">
                        <div fxFlexFill>
                                        <mat-label>Name:</mat-label>
                                        <mat-label class="labelTextColor">Bapuji Behera</mat-label>
                        </div>
                </div>
                <div fxFlex="45">
                        <div fxFlexFill>
                                                <mat-label>Email:</mat-label>
                                                <mat-label class="labelTextColor">bapu2407@gmail.com</mat-label>
                        </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Phone Number:</mat-label>
                                                        <mat-label class="labelTextColor">9856321470</mat-label>
                            </div>
                    </div>
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Year Of Passout:</mat-label>
                                                        <mat-label class="labelTextColor">2017</mat-label>
                            </div>
                    </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Present Address:</mat-label>
                                                        <p class="labelTextColor">Vss Nagar Bhubaneswar 751007 odisha</p>
                            </div>
                    </div>
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Permanent Address:</mat-label>
                                                        <p class="labelTextColor" >At/po-Dhanachangada,via-Kantilo,P.s-fategarh,Dist-Nayagarh,pin-752078</p>
                            </div>
                    </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Marital Status:</mat-label>
                                                        <mat-label class="labelTextColor">Single</mat-label>
                            </div>
                    </div>
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Gender:</mat-label>
                                                        <mat-label class="labelTextColor">Male</mat-label>
                            </div>
                    </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Blood Group:</mat-label>
                                                        <mat-label class="labelTextColor">O +ve</mat-label>
                            </div>
                    </div>
                    <div fxFlex="45">
    
                    </div>
            </div>
    </div>
    <div fxLayout="column" class="workStyle">
            <h4>Work Details</h4>
            <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!isStudent">
                <div fxFlex="45">
                        <div fxFlexFill>
                                                        <mat-label>Job Type:</mat-label>
                                                        <mat-label class="labelTextColor">Private</mat-label>
    
                        </div>
                </div>
                <div fxFlex="45">
                        <div fxFlexFill>
                                                        <mat-label>Designation:</mat-label>
                                                        <mat-label class="labelTextColor">Software Engineer</mat-label>
                        </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px" *ngIf="!isStudent">
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Company Name:</mat-label>
                                                        <mat-label class="labelTextColor">Virtusa</mat-label>
                            </div>
                    </div>
                    <div fxFlex="45">
                            <div fxFlexFill>
                                                        <mat-label>Job Country:</mat-label>
                                                        <mat-label class="labelTextColor">India</mat-label>
                                       
                            </div>
                    </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                    <div fxFlex="45" *ngIf="!isStudent">
                            <div fxFlexFill>
                                                        <mat-label>Job City:</mat-label>
                                                        <mat-label class="labelTextColor">Bangalore</mat-label>
                            </div>
                    </div>
                    <div fxFlex="45">
                                <mat-label>Skills:</mat-label>
                                <mat-label class="labelTextColor">.net,angular,c#,sql server</mat-label>
                    </div>
            </div>
            
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px;padding-bottom: 100px;">
                <div fxFlex="33">
                       
                </div>
                <div fxFlex="34">
                        <div fxFlexFill>
                                        <button mat-flat-button color="primary" style="margin-right: 100px">Approve</button>
                                        <button mat-flat-button color="accent">Reject</button>
                        </div>
                </div>
                <div fxFlex="33">
                </div>
        </div>
        
</div>
</div>