
  <div>
    <div fxLayout="column">
        <div class="row" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                                        <h4>Current Opening Job List</h4>
                        </div>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
      <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Sl. No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
      <ng-container matColumnDef="companyname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Company/Organization Name </th>
        <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
      </ng-container>
    
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
        <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact info. </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="viewJob(element.id)">
              <mat-icon class="mat-18">preview</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>