<div fxLayout="column">
    <div class="row" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                                    <h4>{{formName}} Query</h4>
                    </div>
                    <div fxFlex="45">
                            <a [routerLink]="['/help']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                </span></p></a> 
                    </div>
    </div>
</div>
<div>
    <form class="job-form" fxFlex  [formGroup]="requestForm"  (ngSubmit)="onRequest()" >
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
            <div fxFlex="30" class="sec1" fxFlex.xs="35">
            </div>
            <div fxFlex="40" class="sec2">
                    <div fxFlexFill>
                            <mat-form-field class="w-100">
                                    <mat-label>Query Type</mat-label>
                                    <mat-select formControlName="querytype"  required>
                                      <mat-option value="message">
                                            Message
                                      </mat-option>
                                      <mat-option value="request">
                                            Request
                                      </mat-option>
                                      <mat-option value="help">
                                          Help
                                    </mat-option>
                                    <mat-option value="question">
                                        Question
                                  </mat-option>
                                    </mat-select>
                            </mat-form-field>
                    </div>
            </div>
            <div fxFlex="30" class="sec3" fxFlex.xs="35">
            </div>
      </div>
      <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
          <div fxFlex="30" class="sec1" fxFlex.xs="35">
          </div>
          <div fxFlex="40" class="sec2">
                  <mat-form-field class="w-100">
                          <textarea matInput placeholder="Enter your Request Details" formControlName="requestdetails"[(ngModel)]="updateJson.requestDetails" required></textarea>
                  </mat-form-field>
          </div>
          <div fxFlex="30" class="sec3" fxFlex.xs="35">
          </div>
     </div>
        
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                <div fxFlex="30" class="sec1" fxFlex.xs="35">
                </div>
                <div fxFlex="40" class="sec2">
                        <button mat-raised-button color="primary" class="w-100" [disabled]="!requestForm.valid" >{{buttonName}}</button>
                </div>
                <div fxFlex="30" class="sec3" fxFlex.xs="35">
                </div>
        </div>

    </form>
</div>
