.pstyle{
    font-size: 30px;
    font-family: revert;
    font-weight: bold;
}
.divstyle{
    background-color: aliceblue;
    width: 25%;
    text-align: center;
    border-radius: 20px;
}
.w-100 {
    width: 100%;
}
.profile-page{
    display:flex
}
h4 {
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #2948f5;
}
.viewpage {
    background-color: lightblue;
    border-radius: 20px; 
    border: 1px solid;
    text-align: center;
    font-family: inherit;
}