
  <div>
        <div fxLayout="column">
            <div class="row" fxLayoutAlign="space-between center">
                            <div fxFlex="45">
                                            <h4>My Request/Help List</h4>
                            </div>
                            <div fxFlex="45">
                                <p style="text-align:end">
                                  <button mat-raised-button color="primary"(click)="addRequest()" >Ask New Query</button>
                                </p>
                            </div>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" width="100%">
          <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Sl. No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <ng-container matColumnDef="requestid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Query ID </th>
            <td mat-cell *matCellDef="let element"> {{element.requestID}} </td>
          </ng-container>
        
          <ng-container matColumnDef="requestDetails">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Details </th>
            <td mat-cell *matCellDef="let element"> {{element.requestDetails}} </td>
          </ng-container>
        
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <ng-container *matCellDef="let element">
                <td mat-cell *ngIf="(element.IsApproved)">
                    <mat-icon class="mat-18" style="color:green" matTooltip="Request Approved"
                    matTooltipPosition="above">done</mat-icon>
                </td>
                <td mat-cell *ngIf="(element.IsApproved == null)">   
                  <mat-icon class="mat-18" style="color:#d28613" matTooltip="Request is Pending"
                  matTooltipPosition="above">pending_actions</mat-icon>
               </td>
              <td mat-cell *ngIf="(element.IsApproved == false)">   
                      <mat-icon class="mat-18" style="color:red" matTooltip="Rejected by admin"
                      matTooltipPosition="above">close</mat-icon>
              </ng-container>
            </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editRequest(element.id)">
                    <mat-icon class="mat-18">mode_edit</mat-icon>
                </button>
                <button mat-icon-button  (click)="deleteRequest(element.id)">
                    <mat-icon class="mat-18" style="color:red">delete</mat-icon>
                </button>
              <button mat-icon-button color="primary" (click)="viewRequest(element.id)">
                  <mat-icon class="mat-18">preview</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
      </div>