<div fxLayout="column">
    <div class="row" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                                    <h4>View Query</h4>
                    </div>
                    <div fxFlex="45">
                            <a [routerLink]="['/help']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                </span></p></a> 
                    </div>
    </div>
</div>
<div>
                <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" style="padding-bottom: 20px;">
                                <div fxFlex="30" class="sec1" fxFlex.xs="35">
                                </div>
                                <div fxFlex="40" class="viewpage">
                                       QueryType: Request
                                </div>
                                <div fxFlex="30" class="sec3" fxFlex.xs="35">
                                </div>
                </div>

        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                <div fxFlex="30" class="sec1" fxFlex.xs="35">
                </div>
                <div fxFlex="40" class="viewpage">
                        {{requestData}}
                </div>
                <div fxFlex="30" class="sec3" fxFlex.xs="35">
                </div>
        </div>
</div>
