<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex class="divstyle">
        <p class="pstyle">Update Profile</p>
        </div>
</div>
<form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
<div fxLayout="column">
        <h4>Basic Details</h4>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="30">
                    <div fxFlexFill>
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter your name" formControlName="name" required>
                            </mat-form-field>
                    </div>
            </div>
            <div fxFlex="30">
                    <div fxFlexFill>
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter Your Email" formControlName="email" required>
                            </mat-form-field>
                    </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Enter Your Number" type="number" formControlName="phonenumber" required>
                                </mat-form-field>
                        </div>
                </div>
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Enter your year of passing" formControlName="yearofpassing" required>
                                </mat-form-field>
                        </div>
                </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <textarea matInput placeholder="Present Address" formControlName="presentAddress" required></textarea>
                                </mat-form-field>
                        </div>
                </div>
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <textarea matInput placeholder="Permanent Address" formControlName="permanentAddress" required></textarea>
                                </mat-form-field>
                        </div>
                </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <mat-label>Marital Status</mat-label>
                                        <mat-select formControlName="maritalstatus"  required>
                                          <mat-option value="married">
                                                Married
                                          </mat-option>
                                          <mat-option value="single">
                                                Single
                                          </mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
                </div>
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="gender"  required>
                                          <mat-option value="male">
                                                Male
                                          </mat-option>
                                          <mat-option value="female">
                                                Female
                                          </mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
                </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px">
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <mat-label>Blood Group</mat-label>
                                        <mat-select formControlName="bloodgroup"  required>
                                          <mat-option value="A(+ve)">
                                                A(+ve)
                                          </mat-option>
                                          <mat-option value="A(-ve)">
                                                A(-ve)
                                          </mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
                </div>
                <div fxFlex="30">

                </div>
        </div>
</div>
<div fxLayout="column">
        <h4>Work Details</h4>
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="usertype != 'student'">
            <div fxFlex="30">
                    <div fxFlexFill>
                            <mat-form-field class="w-100">
                            <mat-label>Job Type</mat-label>
                            <mat-select formControlName="jobtype" required>
                                    <mat-option  value="1">
                                      Government
                                    </mat-option>
                                    <mat-option  value="2">
                                      Private
                                    </mat-option>
                                    <mat-option  value="3">
                                            Other
                                     </mat-option>
                            </mat-select>
                    </mat-form-field>

                    </div>
            </div>
            <div fxFlex="30">
                    <div fxFlexFill>
                            <mat-form-field class="w-100">
                                    <textarea matInput placeholder="Enter your designation" formControlName="designation" required></textarea>
                            </mat-form-field>
                    </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px" *ngIf="usertype != 'student'">
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <input matInput placeholder="Enter your Company/Sector Name" formControlName="companysectorname" required>
                                </mat-form-field>
                        </div>
                </div>
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <mat-label>Job Country</mat-label>
                                        <mat-select formControlName="jobcountry" required>
                                                <mat-option  value="1">
                                                  India
                                                </mat-option>
                                                <mat-option  value="2">
                                                  pakistan
                                                </mat-option>
                                                <mat-option  value="3">
                                                        USA
                                                 </mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
                </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:20px" >
                <div fxFlex="30" *ngIf="usertype != 'student'">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <mat-label>Job City</mat-label>
                                        <mat-select formControlName="jobcity" required>
                                                <mat-option  value="1">
                                                  Bhubaneswar
                                                </mat-option>
                                                <mat-option  value="2">
                                                  Mumbai
                                                </mat-option>
                                                <mat-option  value="3">
                                                        Kolkata
                                                 </mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
                </div>
                <div fxFlex="30">
                        <div fxFlexFill>
                                <mat-form-field class="w-100">
                                        <textarea matInput placeholder="Enter your skills" formControlName="skills" required></textarea>
                                </mat-form-field>
                        </div>
                </div>
        </div>
        
</div>
<div fxFlex  fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" style="padding-top:40px;padding-bottom: 40px;">
        <div fxFlex="60">
            <button mat-raised-button color="primary" class="w-100" [disabled]="!profileForm.valid" >Update Profile</button>
        </div>
    </div>
</form>