<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex  [formGroup]="signUpForm"  (ngSubmit)="onSignUp()" >
            <div class="text-center">
                <h2 class="app-name">Umaa signup</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Enter your name" formControlName="name" required>
                        </mat-form-field>
                    </div>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Enter your email" formControlName="email" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Enter your phone number" type="number" formControlName="phonenumber" required>
                        </mat-form-field>
                    </div>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Enter year of passing" type="number" formControlName="yearofpass" required>
                        </mat-form-field>
                    </div>
            </div>
            <div fxFlex fxlayout='row' fxlayout.lt-md="column">
                <div fxFlexFill>
                        <mat-form-field class="w-100">
                                <mat-label>User Types</mat-label>
                                <mat-select formControlName="type"  required>
                                  <!-- <mat-option value="admin">
                                    Admin
                                  </mat-option> -->
                                  <mat-option value="alumni">
                                        Alumni
                                  </mat-option>
                                  <mat-option value="student">
                                        Student
                                  </mat-option>
                                  <!-- <mat-option value="college">
                                        College
                                  </mat-option> -->
                                </mat-select>
                        </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" formControlName="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" [disabled]="!signUpForm.valid" >Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>