<div fxLayout="column">
        <div class="row" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                                        <h4>{{formName}} Job</h4>
                        </div>
                        <div fxFlex="45">
                                <a [routerLink]="['/job']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                    </span></p></a> 
                        </div>
        </div>
</div>
<div>
        <form class="job-form" fxFlex  [formGroup]="jobPostForm"  (ngSubmit)="onJobPost()" >
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <input matInput placeholder="Enter job header" formControlName="jobheader" [(ngModel)]="updateJson.jobHeader" required>
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <input matInput placeholder="Enter company name" formControlName="companyName" [(ngModel)]="updateJson.companyName"  required>
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" >
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <input matInput placeholder="Enter experience" type="number" formControlName="experience"[(ngModel)]="updateJson.experience"  required>
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <input matInput placeholder="Enter skills"  formControlName="skills" [(ngModel)]="updateJson.skills" required>
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                            <mat-form-field class="w-100">
                                    <textarea matInput placeholder="Enter Job Description" formControlName="jd"[(ngModel)]="updateJson.jobDescription" required></textarea>
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <input matInput placeholder="Enter email id"  formControlName="email" [(ngModel)]="updateJson.email" >
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                            <button mat-raised-button color="primary" class="w-100" [disabled]="!jobPostForm.valid" >{{buttonName}}</button>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>

        </form>
   </div>
