<div fxLayout="column">
        <div class="row" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                                        <h4>{{formName}} Job</h4>
                        </div>
                        <div fxFlex="45">
                                <a [routerLink]="['/job']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                    </span></p></a> 
                        </div>
        </div>
</div>
<div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                            <label claas="viewlebel">Job Header</label>
                            <p class="viewp">
                                    {{updateJson.jobHeader}}
                            </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Company Name</label>
                                <p class="viewp">
                                        {{updateJson.companyName}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" >
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Experience</label>
                                <p class="viewp">
                                        {{updateJson.experience}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Skills</label>
                                <p class="viewp">
                                        {{updateJson.skills}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Job Description</label>
                                <p class="viewp">
                                        {{updateJson.jobDescription}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Email</label>
                                <p class="viewp">
                                        {{updateJson.email}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" style="padding-top:30px;padding-bottom:120px;">
                        <div fxFlex="30" class="sec1" fxFlex.xs="35" style="text-align:center">
                                        <button mat-flat-button color="primary">Approve</button>

                        </div>
                        <div fxFlex="40" class="sec2">
                        </div>
                        <div fxFlex="30" class="sec3" fxFlex.xs="35" style="text-align:center">
                                        <button mat-flat-button color="accent">Reject</button>

                        </div>
                </div>

            

   </div>
