<div id="sidebar">
    <div class="usertype">
            <a>
                    <mat-icon class="sidenav-icon">account_circle</mat-icon> {{ userTypeLogin | translate }}
            </a>
    </div>
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" *ngFor="let side of sideMenuData" [routerLink]="side.sideUrl">
            <mat-icon class="sidenav-icon">{{side.sideIcon}}</mat-icon> {{ side.sideName | translate }}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
        </a> -->
    </mat-nav-list>
</div>
