<div fxLayout="column">
        <div class="row" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                                        <h4>{{formName}} event</h4>
                        </div>
                        <div fxFlex="45">
                                <a [routerLink]="['/events']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                    </span></p></a> 
                        </div>
        </div>
</div>
<div>
        <form class="event-form" fxFlex  [formGroup]="EventForm"  (ngSubmit)="onEventPost()" >
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <input matInput placeholder="Enter event Name" formControlName="eventname" [(ngModel)]="updateJson.eventname" required>
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <textarea matInput placeholder="Event Description" formControlName="description"[(ngModel)]="updateJson.eventDescription" required></textarea>
                     </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                        <div fxFlex="30" class="sec1" fxFlex.xs="35">
                        </div>
                        <div fxFlex="40" class="sec2">
                          <mat-form-field class="w-100">
                                        <input matInput type="datetime-local" placeholder="Event Date Time" formControlName="eventdate" [(ngModel)]="updateJson.eventDate" required>
                         </mat-form-field>
                        </div>
                        <div fxFlex="30" class="sec3" fxFlex.xs="35">
                        </div>
                </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" >
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <mat-form-field class="w-100">
                                                <mat-label>Event Types</mat-label>
                                                <mat-select formControlName="eventType" (selectionChange)="onSelect($event.value)" [(ngModel)]="updateJson.eventType"   required>
                                                  <mat-option [value]="type.eventTypeName" *ngFor="let type of eventType">
                                                        {{type.eventTypeName}}
                                                  </mat-option>
                                                </mat-select>
                                </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" *ngIf="isPhysical">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <textarea matInput placeholder="Location" formControlName="location"[(ngModel)]="updateJson.location"></textarea>
                      </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" *ngIf="isVirtual">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter event url "  formControlName="eventUrl" [(ngModel)]="updateJson.eventUrl" >
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" *ngIf="isVirtual">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                      <mat-form-field class="w-100">
                                <textarea matInput placeholder="Enter event Credentials" formControlName="eventcredentilas"[(ngModel)]="updateJson.eventCredentilas"></textarea>
                            </mat-form-field>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                        <div fxFlex="30" class="sec1" fxFlex.xs="35">
                        </div>
                        <div fxFlex="40" class="sec2">

                                                        <!-- Fetch selected filed on change -->
                                                         <mat-label>Event Photo</mat-label>
                                                                <br>
                                                                <br>
                                                        <input type="file" #UploadFileInput id="fileUpload" style="margin-bottom:20px;" (change)="fileChangeEvent($event)" name="fileUpload"
                                                          multiple="multiple" accept="image/*" />
                                                  
                        </div>
                        <div fxFlex="30" class="sec3" fxFlex.xs="35">
                                        <mat-card class="example-card "style="margin-bottom:20px;" *ngIf="buttonName == 'Update event'"  >
                                                        <mat-card-content>
                                                          <img [src] ="ImagePath" 
                                                                style="width: 285px;height: 140px;">
                                                        </mat-card-content>
                                        </mat-card>
                        </div>
                </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" style="padding-bottom:30px;" fxFlexFill fxLayoutAlign="space-around center">
                        <div fxFlex="30" class="sec1" fxFlex.xs="35">
                        </div>
                        <div fxFlex="40" class="sec2">
                                <button mat-raised-button color="primary" class="w-100" [disabled]="!EventForm.valid" >{{buttonName}}</button>
                        </div>
                        <div fxFlex="30" class="sec3" fxFlex.xs="35">
                        </div>
           </div>
        </form>
   </div>
