table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
h4 {
    font-weight: bold;
    font-size: 20px;
    color: #2948f5;
    padding-left: 40px;
}
.labelTextColor{
    padding-left: 25px;
    font-weight: bold;
    color: #3f51b5;
}
.basicStyle{
    background-color: #e7ecf1;
    border: 1px solid #4612e7;
    border-radius: 20px;
    padding-bottom: 30px;
}
.workStyle{
    background-color: #a4c2e1;
    border: 1px solid #f7e611;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.w-100{
    width:100%;
    // background-color: red;
    // border:1px solid yellow;
}
.job-page{
    align-items: center;
    justify-content: center;
}
label{
    font-weight: bold;
    font-size: 23px;
    color: blue;
    font-family: monospace;
    text-align: left;
}
.viewp{
    font-weight: bold;
    font-size: 15px;
    color: #555572;
    font-family: cursive;
    text-align: left;
}
// .myform-wrapper {
//     margin: 50px;
//     width: 350px;

//     .mat-form-field {
//         width: 100%;
//     }

//     .mat-toolbar-single-row {
//         height: auto !important;
//         background: transparent;

//         button {
//             width: 30%;
//         }
//     }
// }

// #fileUpload {
//     position: absolute;
//     z-index: 9;
//     opacity: 0;
//     height: 100%;
//     width: 100%;
//     left: 0px;
//     top: 0px;
//     cursor: pointer;
// }