<div fxLayout="column">
        <div class="row" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                                        <h4>{{formName}} Event</h4>
                        </div>
                        <div fxFlex="45">
                                <a [routerLink]="['/events']" ><p style="text-align:end"><span class="material-icons"> arrow_back
                                    </span></p></a> 
                        </div>
        </div>
</div>
<div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                            <label claas="viewlebel">Event Name</label>
                            <p class="viewp">
                                    {{updateJson.eventName}}
                            </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Event Description</label>
                                <p class="viewp">
                                        {{updateJson.eventDescription}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center" >
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Event Date Time</label>
                                <p class="viewp">
                                        {{updateJson.eventDateTime}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Event Type</label>
                                <p class="viewp">
                                        {{updateJson.type}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Event Location</label>
                                <p class="viewp">
                                        {{updateJson.location}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                    <div fxFlex="30" class="sec1" fxFlex.xs="35">
                    </div>
                    <div fxFlex="40" class="sec2">
                                <label claas="viewlebel">Event url</label>
                                <p class="viewp">
                                        {{updateJson.url}}
                                </p>
                    </div>
                    <div fxFlex="30" class="sec3" fxFlex.xs="35">
                    </div>
            </div>
            <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                        <div fxFlex="30" class="sec1" fxFlex.xs="35">
                        </div>
                        <div fxFlex="40" class="sec2">
                                    <label claas="viewlebel">Event Credentials</label>
                                    <p class="viewp">
                                            {{updateJson.eventCredentials}}
                                    </p>
                        </div>
                        <div fxFlex="30" class="sec3" fxFlex.xs="35">
                        </div>
                </div>
                <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">
                                <div fxFlex="30" class="sec1" fxFlex.xs="35">
                                </div>
                                <div fxFlex="40" class="sec2">
                                            <label claas="viewlebel">Event Photo</label>
                                            <mat-card class="example-card "style="margin-bottom:20px;"  >
                                                        <mat-card-content>
                                                          <img [src] ="updateJson.eventPhoto" 
                                                                style="width: 100%;height: 100%;">
                                                        </mat-card-content>
                                        </mat-card>
                                </div>
                                <div fxFlex="30" class="sec3" fxFlex.xs="35">
                                </div>
                        </div>
   </div>
