<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex class="divstyle">
        <p class="pstyle">Upload your Details</p>
        </div>
</div>
<div fxLayout="column" >
        <h4>More Detials</h4>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top:50px;">
            <div fxFlex="30" >
                    <div fxFlexFill>
                                        <input type='file' class="upload_btn" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
                                         <div class="overlay-layer">Upload photo</div>
                    </div>
            </div>
            <div fxFlex="30" *ngIf="!isAdminOrCollege">
                    <div fxFlexFill>
                                <input type='file' class="upload_btn" id="docUpload" accept=".png, .jpg, .jpeg" #docfile (change)="uploadDoc($event)"/>
                                <div class="overlay-layer">Upload CV</div>
                    </div>
            </div>
        </div> 
</div>
