.pstyle{
    font-size: 30px;
    font-family: revert;
    font-weight: bold;
}
.divstyle{
    background-color: aliceblue;
    width: 25%;
    text-align: center;
    border-radius: 20px;
}
.w-100 {
    width: 100%;
}
.profile-page{
    display:flex
}
h4 {
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #2948f5;
}

.avatar-zone{
    width:200px;
    height:200px;
    background-color:#CCCCCC;
}
.overlay-layer{
    width:200px;
    height:40px;
    position:absolute;
    margin-top:-40px;
    opacity:0.5;
    background-color:#000000;
    z-index:0;
    font-size:25px;
    color:#FFFFFF;
    text-align:center;
    line-height:40px;
}
.upload_btn{
    position:absolute;
    width:200px;
    height:40px;
    margin-top:-40px;
    z-index:10;
    opacity:0;
}