
    <link rel="shortcut icon" type="image/png" href="../../assets/images/fav-icon.png">
    <link type="text/css" href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../assets/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="../../assets/css/slick.css">
    <link type="text/css" rel="stylesheet" href="../../assets/css/main.css">
    <link type="text/css" rel="stylesheet" href="./../assets/css/responsive.css">

    <script src="../../assets/js/jquery-1.1.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/slick.min.js"></script>
    <script src="../../assets/js/slick-animation.min.js"></script>
    <script src="../../assets/js/waypoints.js"></script>
    <script src="../../assets/js/counter.js"></script>
    <script src="../../assets/js/main.js"></script>
    
<section class="bodysection" data-spy="scroll" data-target=".navbar" data-offset="50">
     <!-- back to top part start-->
     <div class="back-to-top">
        <a href="#" class="back-top-btn back-index"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- back to top part end-->
    <!-- ====== Preloader ======  -->
    <div class="loading">
        <div class="load-circle">
        </div>
    </div>
    <!-- ======End Preloader ======  -->
     <!--navigation-->
     <nav class="navigation navbar" data-spy="affix" data-offset-top="50">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navs">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand logo">
                    <img src="assets/images/header-logo.png" class="img-responsive" alt="img">
                </a>
            </div>
            <!--Logo/-->
            <div class="collapse navbar-collapse" id="navs">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Home</a>
                        <ul class="dropdown-menu page-menu">
                            <li>
                                <a href="index.html">Home-1</a>
                            </li>
                            <li>
                                <a href="homescreen.html">Home-2</a>
                            </li>
                            <li>
                                <a href="homescreen-pareticals.html">Home-3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#about-us">About Us</a>
                    </li>

                    <li>
                        <a href="#services">Service</a>
                    </li>

                    <li>
                        <a href="#our-team">Team</a>
                    </li>
                    <li>
                        <a href="#event">Events</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Pages</a>
                        <ul class="dropdown-menu page-menu">
                            <li>
                                <a href="about-us.html">About page</a>
                            </li>
                            <li>
                                <a href="blog-details.html">Blog single</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Blog">Blog</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <div class="search-content">
                            <a href="#" class="search-btn">
                                <i class="fa fa-search"></i>
                            </a>
                            <div class="search-box">
                                <form>
                                    <input type="text" name="s" class="form-control" placeholder="Type Keyword...">
                                    <button type="submit" class="btn btn-main">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </nav>
    <!-- End navigation -->
     <!-- slider area -->
     <header class="header-area" id="home-slider">
        <div class="slider stick-dots">
            <div class="slide">
                <div class="slide__img">
                    <img src="../../assets/images/slider-2.jpg" alt="img" class="full-image animated" data-animation-in="zoomInImage" />
                    <div class="overlay"></div>
                </div>
                <div class="slide__content">
                    <div class="slide__content--headings">
                        <h2 class="animated" data-animation-in="fadeInUp">Welcome to
                            <span class="text-color">Our Alumni Association</span>
                        </h2>
                        <p class="animated" data-animation-in="fadeInUp" data-delay-in="0.3">Meet the Awesome People</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__img">
                    <img src="../../assets/images/project-image-3.jpg" alt="img" class="full-image animated" data-animation-in="zoomInImage" />
                    <div class="overlay"></div>
                </div>
                <div class="slide__content">
                    <div class="slide__content--headings">
                        <h2 class="animated" data-animation-in="fadeInRight">BIT - Alumni 
                            <span class="text-color">Enter To Learn</span>
                        </h2>
                        <p class="animated" data-animation-in="fadeInRight" data-delay-in="0.2">Built Your career</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End slider area -->
</section>